body
{
    font-family:  Tahoma, Serif;
    direction: rtl;
}
input, select
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px;
}
input
{
    width: 230px;
}
select
{
    width: 250px;
}
#nav
{
    background-color: #DDD;
    position: absolute;
    width: 250px;
    float: right;
    bottom: 0;
    right: 0;
    top: 0;
}
#nav a, .button
{
    background-color: #3F015A;
    font-family: "B Titr";
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    line-height: 40px;
    margin-left: auto;
    margin-top: 10px;
    display: block;
    width: 200px;
    color: #DDD;
}
#nav a:hover, .button:hover
{
    background-color: #444;
}
#content
{
    text-align: center;
    overflow: scroll;
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    z-index: -1;
    right: 0;
    top: 0;
}
.center 
{
    vertical-align: middle;
    padding-right: 250px;
    display: table-cell;
}
.logo
{
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form
{
    margin: auto;
    width: 0;
}
.list-table {
    vertical-align: middle;
    padding-right: 280px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
}
.list-table td 
{
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #DDD;
    height: 40px;
}
