#nav {
    background-color: #DDD;
    position: absolute;
    width: 250px;
    float: right;
    bottom: 0;
    right: 0;
    top: 0;
}
#logo {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 100px;
    width: 100px;
}
#nav a {
    background-color: #3F015A;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    line-height: 40px;
    margin-left: auto;
    margin-top: 10px;
    display: block;
    width: 200px;
    color: #DDD;
}
#nav a:hover {
    background-color: #444;
}
#content {
    text-align: center;
    overflow: scroll;
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    z-index: -1;
    right: 0;
    top: 0;
}
#content form, #content p, #content h1 {
    vertical-align: middle;
    padding-right: 250px;
    display: table-cell;
}
#content table {
    vertical-align: middle;
    padding-right: 280px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
}
#content table td {
    border-style: solid;
    border-width: thin;
    border-color: #DDD;
    height: 40px;
}
#content input, #content select {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px;
}
#content input {
    width: 230px;
}
#content select {
    width: 250px;
}
.msg {
    margin-right: 250px;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 400px;
}
.error {
    background-color: #DD0A0A;
}
.success {
    background-color: #2AC602;
}

