<%@ Master Language="C#" MasterPageFile="~/MasterPagePanel.master" AutoEventWireup="false" CodeFile="MasterPageCustomer.master.cs" Inherits="MasterPageCustomer" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
        
    </asp:ContentPlaceHolder>
</asp:Content>

